<div class="widget-header">
  <!--<div class="widget-title">Weather Forecast</div>
  <div class="widget-sub-title">Currently in Vienna, Austria</div>-->
  <!--<ng-content select=".widget-title, .widget-sub-title" />-->
  <!--<ng-content select="[slot='header']" />-->
  <ng-content select="header" />

  <app-button class="action">
    <ng-content ngProjectAs="[slot='icon']" select="[slot='action-icon']" />
  </app-button>
</div>

@if (!hidden()) {
<div class="widget-content">
  <!--<div class="sky-condition">☀️</div>
  <div class="temperature">21°C</div>-->

  <!--<ng-container [ngTemplateOutlet]="content() || noContent"></ng-container>-->
  <ng-container [ngTemplateOutlet]="content()?.tpl || noContent"></ng-container>

  <!--<ng-content>
    <p class="no-content">No content...</p>
  </ng-content>-->
  <ng-template #noContent>
    <p class="no-content">No content...</p>
  </ng-template>
</div>
}
<button (click)="hidden.set(!hidden())">Expand/Collapse</button>
